/**
* Font Face for Muller WOFF.
*/

@font-face {
    font-family: 'Muller-Hairline';
    src: url('./styles/fonts/Muller-Hairline.woff') format('woff');
}

@font-face {
    font-family: 'Muller-UltraLight';
    src: url('./styles/fonts/Muller-UltraLight.woff') format('woff');
}

@font-face {
    font-family: 'Muller-Regular';
    src: url('./styles/fonts/Muller-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Muller-Bold';
    src: url('./styles/fonts/Muller-Bold.woff') format('woff');
}